<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/header.ejs')%>
    
    <title><%= title%></title>
</head>
<body>
    
    <%- include('../partials/navbar.ejs') %>

    <div class="container">
        <h3>About Me</h3>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis eveniet aperiam soluta iure et officiis numquam aut optio ex facere minima, cum error amet corrupti. Assumenda hic reprehenderit commodi explicabo aut, quis distinctio reiciendis quas, at repellendus ipsa ab. Enim, voluptatum possimus! Placeat fugiat ut consectetur atque voluptates cum laudantium possimus aliquam. Perferendis mollitia ex nobis. Distinctio, nobis consequatur magnam doloremque iusto omnis in quisquam beatae, architecto laboriosam enim veniam officia esse commodi voluptatibus fugiat est, optio autem corporis! Rerum earum repudiandae velit quam possimus ea excepturi perspiciatis laborum, molestias nam, maxime quos blanditiis a autem harum non soluta corporis hic perferendis officia nemo ex! Culpa quos delectus fugiat! Nisi provident incidunt aperiam harum, alias vitae omnis iste culpa laboriosam repellendus corrupti!</p>

    <!-- <img src="/views/man.jpg" class="img-fluid" alt="This is me"> -->
    
    </div>
    

</body>
</html>