*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    display: flex;
    justify-self: center;
}
.navbar ul{
    display: flex;
    justify-self: center;
}


h3{
    color: red;
}